*{
  padding: 0;
  margin: 0;
  font-style: normal;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}
body{background-color: #f7f9fa;}
/* input,button{border-radius: 2px !important; } */
.action{width: 100%; display: flex; justify-content: start; gap: 20px;}
button{cursor: pointer; border: none;}
button:active{transform: scale(0.98);}
/* span{display: flex; justify-content: center; width: 100%;} */
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.span-table{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px
}

.ant-table-tbody > tr.ant-table-row:hover > td { background: #fff !important;}
.ant-table-cell{ background-color: #fff !important;}
.ant-spin-container{box-shadow: 0  10px 10px rgba(0, 0, 0, .05);padding-bottom: 10px; background-color: #fff;}
.ant-select {width: 100% !important; border-radius: 2px !important;}
.status{
  width: 100px;
  padding: 2px 20px;
  border-radius: 5px;
  background: rgba(96, 255, 125,.2);
  color: rgba(96, 255, 125,9);
}
.ant-table-tbody{
  border: 1px solid red !important;
}
.branch{
  width: 100px;
  padding: 2px 20px;
  border-radius: 5px;
  background: rgba(255, 165, 0,.2);
  color: rgba(255, 165, 0,9);
}